# App
HOST="0.0.0.0"
PORT="8000"

# DATABASE URLs
DATABASE_URL="postgresql+asyncpg://your_user:your_password@db:5432/your_db"
ALEMBIC_DATABASE_URL="postgresql+psycopg2://your_user:your_password@db:5432/your_db"

# PostgreSQL
POSTGRES_USER="your_user"
POSTGRES_PASSWORD="your_password"
POSTGRES_DB="your_db"

# Auth
SECRET_KEY="..."
ALGORITHM="..."
ACCESS_TOKEN_EXPIRE_MINUTES=...
REFRESH_TOKEN_EXPIRE_DAYS=...

# Env
ENVIRONMENT="development"
